header {
  background-color: black;
  color: #ccc;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;

  h1 {
    font-size: 3em;
    padding: 10px 20px;
    &:after {
      content: ' - Glory Hole Manager'
    }
  }

  h2 {
    font-size: 2em;
    padding: 10px 20px;
    color: pink;
    &:after {
      content: 'Ne finissez plus seul derrière le mur'
    }
  }

}

.left-part {
  float: left;
  width: 60%;
}

.col {
  display: inline-block;
  width: 25%;
  border: 1px solid black;
  height: 40px;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;

  span {
    vertical-align: middle;
    display: inline-block;
    padding: 11px 5px;
  }
}

.bar-name-col {
  .col;
  width: 50%;
  text-align: right;
}

.producer-col, .consumer-col {
  .col;

  span {
    padding: 7px 5px;
  }

  .occupied:before {
    font-family: Flaticon;
    font-size: 20px;
    font-style: normal;
    margin-left: 20px;

    position: relative;
    top: 3px;
    margin-right: 10px;
  }
}

.consumer-col .occupied:before {
  content: "\e000";
}

.producer-col .occupied:before {
  content: "\e001";
}

.hoverable {
  .col, .producer-col, .consumer-col, .bar-name-col {
    transition: 0.3s;
  }

  &:hover {
    .col, .producer-col, .consumer-col, .bar-name-col {
      background-color: deeppink;
      color: white;
    }
  }

}
